.App {
    min-height: 100vh;

    padding: 15px 0;

    text-align: center;

    background-color: #282c34;
    color: white;
}

.Button {
    padding: 5px 15px;
    margin-left: 10px;

    border: none;
    border-radius: 3px;
    background-color: lightslategrey;
    color: black;

    cursor: pointer;

    font-size: 15px;
}

.Button:disabled {
    opacity: .3;
}

.Icon-arrow {
    width: 17px;
    height: 17px;

    fill: lightgrey;
}

.Icon-preloader {
    width: 30px;
    height: 30px;

    position: relative;
    left: -15px;
    top: 10px;

    fill: lightgrey;

    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
